
0x08-recursion/1-print_rev_recursion.exe
0x08-recursion/100-palindrome.exe
0x08-recursion/2-strlen_recursion.exe
0x08-recursion/3-factorial.exe
0x08-recursion/4-pow.exe
0x08-recursion/5-sqrt.exe
0x08-recursion/6-prime.exe
0x08-recursion/101-wildcmp.exe
